<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <h1>BLACKBOX</h1>
    <img src="assets/icon/Loading.svg">
  </div>

  <form id="form">
    <app-input type="text" placeholder="Avatar"></app-input>
    <app-input type="password" placeholder="Pseudo"></app-input>
    <ion-button expand="block" shape="round">Générer</ion-button>
  </form>
</ion-content>
